[submodule "firmware-pueo-turfio"]
	path = firmware-pueo-turfio
	url = https://github.com/barawn/firmware-pueo-turfio
[submodule "firmware-pueo-surf6"]
	path = firmware-pueo-surf6
	url = https://github.com/barawn/firmware-pueo-surf6
[submodule "firmware-pueo-turf"]
	path = firmware-pueo-turf
	url = https://github.com/barawn/firmware-pueo-turf
[submodule "software-pueo-turf"]
	path = software-pueo-turf
	url = https://github.com/barawn/software-pueo-turf
[submodule "software-pueo-surf6"]
	path = software-pueo-surf6
	url = https://github.com/barawn/software-pueo-surf6
[submodule "pueo-python"]
	path = pueo-python
	url = https://github.com/barawn/pueo-python
